.learn_form {  
  text-align: center;
  vertical-align: center;  
}

.learn_form label {
  font-family: "궁서";
  font-weight: bold;
  width: 20%;  
  font-size: 3rem;
  outline: none;
  border: none;  
}

.learn_form input {  
  font-family: "궁서";  
  width: 80%;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 90px;
  font-size: 3rem;
  outline: none;
  border: none;      
}