.bingogame-template {
  background: white;
  width: 90%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 0 auto; 
  margin-top: 1rem;
}

.bingogame-template .title {
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  background: limegreen;
  color: white;
}

.bingogame-template .select-wrapper {
  padding: 0.5rem;
  border-bottom: 1px solid limegreen;
}

.bingogame-template .board {
  padding: 0.5rem;
  border-bottom: 1px solid limegreen;
}