.words_form {  
  text-align: center;
  vertical-align: center;  
}

.words_form label {
  font-family: "궁서";
  font-weight: bold;
  width: 45%;
  font-size: 3rem;
  outline: none;
  border: none;  
}

.words_form input {  
  font-family: "궁서";  
  width: 55%;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 90px;
  font-size: 3rem;
  outline: none;
  border: none;    
}