.search-template {
  background: white;
  width: 512px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
  margin: 0 auto; /* 페이지 중앙 정렬 */
  margin-top: 1rem;
}

.search-template .title {
  padding: 1rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
  background: #22b8cf;;
  color: white;
}

.search-template .form-wrapper {
  padding: 1rem;
  border-bottom: 1px solid #22b8cf;
}

.search-template .search-wrapper {
  min-height: 5rem;
}